%div{:class => "well span10 offset1"}
  %div{:id => "flash-message"}
    =styled_flash
  %h3 Game: #{@game.date.localtime.strftime("%A, %B %e, %Y, %l:%M %p")}
  %p Players in the game:
  %div{:id => "playerList"}
    = haml :playerList
  %div{:id => "waitingList"}
    = haml :waitingList
  %br
  %a{:class => "btn btn-primary btn-large", :id => "signup", :link => "/game/#{params[:id]}"}Sign up to play!
  %br
  %br
  %a{:class => "btn btn-danger", :id => "remove", :link => "/game/#{params[:id]}"}Remove me from the game
