%div{:class => "well span10 offset1"}
  %div{:id => "flash-message"}
    =styled_flash
  %h3 Game: #{@game.date.localtime.strftime("%A, %B %e, %Y, %l:%M %p")}
  %p Players in the game:
  %div{:id => "playerList"}
    = haml :playerList
  %div{:id => "waitingList"}
    = haml :waitingList
  %br
  %div{:id => "gameButtons"}
    = haml :gameButtons
:javascript
  $('#signup').live('click', function () {
      var signup = $.ajax({
          url: '/game/#{params[:id]}/user/#{session[:user]}',
          type:'put'
      });

      signup.success(function () {
          $('#playerList').load('/game/#{params[:id]}/playerList');
          $('#waitingList').load('/game/#{params[:id]}/waitingList');
          $('#gameButtons').load('/game/#{params[:id]}/gameButtons');
      })
  });

  $('#remove').live('click', function () {
      var remove = $.ajax({
          url: '/game/#{params[:id]}/user/#{session[:user]}',
          type:'delete'
      });

      remove.success(function () {
          $('#playerList').load('/game/#{params[:id]}/playerList');
          $('#waitingList').load('/game/#{params[:id]}/waitingList');
          $('#gameButtons').load('/game/#{params[:id]}/gameButtons');
      })
  });
